@charset "UTF-8";
@charset "UTF-8";
body {
	font-family: Arial, sans-serif;
	background-image: url(sky.png.jpg);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	border-top: 2px ridge green;
	border-bottom:2px ridge #008040;
	border-left:2px ridge #ffff00;
	border-right:2px ridge #800000;
}
.container{
	margin-top:-65%;
	width: 80%; /* or a specific width */
    height: 50px; /* Adjust height based on your needs */
     overflow: hidden; /* Hides the scrollbar */
     position: relative;
}
.container
{
  display: inline-block;
  white-space: nowrap; /* Prevent line wrapping */
  animation: scrollRight 15s linear infinite;  
}
@keyframes scrollRight {
  0% {
    transform: translateX(-100%); /* Start off-screen to the left */
  }
  100% {
    transform: translateX(100%); /* End off-screen to the right */
  }
}
form {
	background-color: white;
	padding: 3px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 250px;
	margin-left:-76%;
	border:2px solid green;
	animation-name:ani;
	animation-duration:5s;
	margin-top:70px;
}
@keyframes ani{
	from{background-color:white;}
	to{background-color:brown;}
}
label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
	width: 90%;
	padding: 4px;
	margin-bottom: 0px;
	border: 1px solid violet;
	border-radius: 1px;
}

input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: blue;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

input[type="submit"]:hover {
	background-color: #80ff00;
}

.button-container {
	margin-top: 2px;
}

button {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: blue;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #80ff00;
}
@media (max-width: 768px) {
  .container {
    overflow-x: scroll; /* Enable manual horizontal scrolling */
    animation: none; /* Disable automatic scrolling on mobile */
  }
